<ion-modal-view ng-controller="proRzOrderCtrl">
  <ion-header-bar class="bar-stable nav-bar-block nav-title-slide-ios7">
    <button class="button button-clear " ng-click="closePageModel()"><i class="icon ion-ios-arrow-left"></i></button>
    <h1 class="title">染整订单查询</h1>
    <button class="button button-clear" ng-click="openSearch()"><i class="icon ion-ios-search"></i></button>
  </ion-header-bar>
  <div class="bar bar-subheader lr-subheader">
      <div class="lr-left-tool">
          <div class="lr-down-select"><span>全部</span><span class="num">{{data.records}}条</span><span><i class="icon ion-ios-arrow-down"></i></span></div>
      </div>
      <div class="lr-right-tool">
          <button class="button button-clear"><i class="icon iconfont">&#xe6f5;</i></button>
          <button class="button button-clear"><i class="icon iconfont">&#xe654;</i></button>
      </div>
  </div>
  <ion-content delegate-handle="businesslist-content">
      <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
      <div class="list  list-inset lr-list-type2" style="margin-top:40px;">
          <ion-list>
              <ion-item ng-repeat="sample in data.businesss" class="item-remove-animate mt10" ng-click="openDetailsModal(sample.o_num)">
                  <div class="row">
                    <div class="col-99"><span class="lr-title">{{sample.o_custName}}</span></div>                    
                  </div>
                  <div class="row">
                      <div class="col-50 lr-item-content"><span>客户等级：{{sample.khlx}}</span> </div>
                      <div class="col-50 lr-item-content"><span>客户区域：{{sample.custregion}}</span></div>
                  </div>
                  <div class="row">
                      <div class="col-50 lr-item-content"><span>分类：{{sample.o_type}}</span> </div>
                      <div class="col-50 lr-item-content"><span>订单类型：{{sample.o_dealType}}</span></div>
                   </div>
                  <div class="row">
                      <div class="col-50 lr-item-content"><span>数量：{{sample.b_count}}</span></div>
                      <div class="col-50 lr-item-content"><span>批号：{{sample.b_num}}</span></div>
                  </div>
                  <div class="row">
                      <div class="col-50 lr-item-content"><span>品号：{{sample.b_pinhao}}</span></div>
                      <div class="col-50 lr-item-content"><span>颜色：{{sample.b_color}}</span></div>                 
                  </div>
                  <div class="row">
                      <div class="col-50 lr-item-content"><span>坯布下机米数：{{sample.hr_completeNum}}</span></div>
                      <div class="col-50 lr-item-content"><span>包装数量：{{sample.countPack}}</span></div>
                  </div>
                  <div class="row">
                      <div class="col-50 lr-item-content"><span>发货数量：{{sample.countDelivery}}</span></div>
                      <div class="col-50 lr-item-content"><span>原始交期：{{sample.dateLastDelivery}}</span></div>
                  </div>
                  <div class="row">
                      <div class="col-50 lr-item-content"><span>最近发货日期：{{sample.dateLastDelivery}}</span></div>
                      <div class="col-50 lr-item-content"><span>完工日期：{{sample.b_timeComplete}}</span></div>
                  </div>
                  <div class="row">
                      <div class="col-50 lr-item-content"><span>调度员：{{sample.o_dispatcher}}</span></div>
                      <div class="col-50 lr-item-content"><span>签单部门：{{sample.o_departName}}</span></div>
                  </div>
                  <div class="row">
                      <div class="col-50 lr-item-content"><span>日期：{{sample.o_dateOrder}}</span></div>
                      <div class="col-50 lr-item-content"><span>订单编号：{{sample.o_num}}</span></div>
                  </div>
              </ion-item>
          </ion-list>
      </div>
      <ion-infinite-scroll ng-if="data.moredata" on-infinite="doLoadMore()" distance="1%"></ion-infinite-scroll>
  </ion-content>

</ion-modal-view>
