<ion-modal-view ng-controller="PanUpManageCtrl">
    <ion-header-bar class="bar-stable nav-bar-block nav-title-slide-ios7">
        <button class="button button-clear" ng-click="closePageModel()"><i class="icon ion-ios-arrow-left"></i></button>
        <h1 class="title">{{caseItem.name}}</h1>
        <button class="button button-clear" ng-click="doSubmit()">提交</button>
    </ion-header-bar>
    <ion-content>
        <div class="list card mt5 ">
            <div class="list list-inset">
                <div class="item row">
                    <div class="col-20 lr-item-htitle">盘头编号</div>
                    <div class="col-60 lr-item-content">
                        <p>
                            <input type="text" name="phu_panNum" ng-model="editData.phu_panNum" placeholder="盘头编号" ng-blur="GetPanEntity()">
                        </p>
                    </div>
                    <div class="col-20 lr-item-content text-right">
                        <p>
                            <button class="button  button-positive button-small" ng-click="doBarcode()">扫描盘头</button>
                        </p>
                    </div>

                </div>
                <div class="item row">
                    <div class="col-20 lr-item-htitle"> 盘头名称</div>
                    <div class="col-80 lr-item-content">
                        <input type="text" ng-model="editData.phu_panno" placeholder="盘头名称">
                    </div>
                </div>
                <div class="item row">
                    <div class="col-20 lr-item-htitle">货位编号</div>
                    <div class="col-60 lr-item-content">
                        <p>
                            <input type="text" name="phu_panNum" ng-model="editData.phu_no_pos" placeholder="货位编号" ng-blur="GetPanEntity()">
                        </p>
                    </div>
                    <div class="col-20 lr-item-content text-right">
                        <p>
                            <button class="button button-small button-positive" ng-click="doBarcode()">扫描货位</button>
                        </p>
                    </div>
                </div>
                <div class="item row">
                    <div class="col-20 lr-item-htitle">货位名称</div>
                    <div class="col-60 lr-item-content">
                        <input type="text" ng-model="editData.phu_name_pos" placeholder="货位名称">
                    </div>

                </div>


                <div class="item row">
                    <div class="col-20 lr-item-htitle">机台编号</div>
                    <div class="col-60 lr-item-content">
                        <p>
                            <input type="text" name="phu_machineID_con" ng-model="editData.phu_machineID_con" placeholder="机台编号" ng-blur="GetPanEntity()">
                        </p>
                    </div>
                    <div class="col-20 lr-item-content text-right">
                        <p>
                            <button class="button button-small button-positive" ng-click="doBarcode()">扫描机台</button>
                        </p>
                    </div>
                </div>
                <div class="item row">
                    <div class="col-20 lr-item-htitle">机台名称</div>
                    <div class="col-60 lr-item-content">
                        <input type="text" ng-model="editData.phu_machineName_con" placeholder="机台名称">
                    </div>

                </div>
                <div class="item row">
                    <div class="col-20 lr-item-htitle">任务单号</div>
                    <div class="col-60 lr-item-content">
                        <input type="text" ng-model="editData.phu_planDetail" placeholder="任务单号">
                    </div>
                </div>
                <div class="item row">
                    <div class="col-20 lr-item-htitle">批次</div>
                    <div class="col-60 lr-item-content">
                        <input type="text" ng-model="editData.phu_batch" placeholder="批次">
                    </div>
                </div>
                <div class="item row">
                    <div class="col-20 lr-item-htitle">品号</div>
                    <div class="col-60 lr-item-content">
                        <input type="text" ng-model="editData.phu_pinhao" placeholder="品号">
                    </div>
                </div>
                <div class="item row">
                    <div class="col-20 lr-item-htitle">颜色</div>
                    <div class="col-60 lr-item-content">
                        <input type="text" ng-model="editData.phu_color" placeholder="颜色">
                    </div>
                </div>

            </div>
        </div>
        <div class="item row">
            <div class="col-99 lr-item-content text-right">
                <p>
                    <button class="button button-small button-positive" ng-click="doBarcode()">扫描人员</button>
                </p>
            </div>
        </div>
        <div>
            <ion-list>
                <ion-item ng-repeat="emp in emps" class="item-remove-animate mt10">
                    <div class="item row">
                        <div class="col-10"><span class="lr-title">编号</span></div>
                        <div class="col-20"><span class="lr-title"><input type="text" name="phe_empNo" ng-model="emps.phe_empNo" placeholder="编号" /></span></div>
                        <div class="col-10"><span class="lr-title">姓名</span></div>
                        <div class="col-20"><span class="lr-title"><input type="text" name="phe_name" ng-model="emps.phe_name" placeholder="姓名" /></span></div>
                        <div class="col-20">
                            <button class="button button-small button-positive" ng-click="doDelete(emps.phe_empNo)">删除</button>

                        </div>
                    </div>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-modal-view>
