<ion-modal-view >
    <ion-header-bar class="bar-stable  nav-bar-block  nav-title-slide-ios7">
      <button class="button button-clear" ng-click="closePageModel()"><i class="icon ion-ios-arrow-left"></i></button>
      <h1 class="title">关于恒泰</h1>
    </ion-header-bar>
    <ion-content>
        <div style="padding:10px;">
            <p style="text-indent: 2em;">山东恒泰纺织有限公司是一家集纺纱、染整、织造于一体的中一型纺织企业，创建于1988年。公司占地面积300000平方米，公司现有职工2600余人，2016年实现产值7.2亿元，销售收入7.12亿元，上缴税金6054万元。</p>
            <p style="text-indent: 2em;"> 公司现拥有纱锭60000枚，年生产能力为各类纱线10000吨； 拥有包覆丝机50台，年生产能力为各种花式纱、单双包覆纱、单双曲纱、梦竹纱等系列产品1200吨。产品主要为以棉、竹纤维、绢丝、山羊绒、兔绒（毛）、驼绒等绿色环保天然纤维与动物纤维为主的各种纯纺、混纺纱线，仿羊绒纱线、腈纶固体无结纱线、腈纶膨体纱线、涤纶和毛/腈、兔/羊/腈、丙/涤、粘/腈混纺纱线，单曲、双曲、梦竹丝、锦包氨类（2070、4070、4012、2012）、涤包氨类（2075、3075、4075）纱线，或根据用户要求任意组配原料生产各种纱线。产品主要用于横机、圆机、机织、梭织等。</p>
            <p style="text-indent: 2em;">公司拥有进口喷式染色机、立式染色机和散毛染色机及高温高压筒纱染色机160余台套，并拥有整套化验打样仪器，Data color开料滴料系统，远红外线打样机，成品质量检测仪器等先进仪器。年生产能力为各类染色绞纱、散毛、筒纱15000吨。其中散毛染色缸5吨/天，绞纱染缸（开门缸）35吨/天，喷射染缸5吨/天,筒子染缸5吨/天。</p>
        </div>
        <div style=" font-size: 10px;color: #B2B2B2;width: 100%; text-align: center;margin-top:20px;">
            <span>山东恒泰纺织有限公司</span>
            <p>copyright ©2018 hengtex.cn,All Rights Rescrved</p>
        </div>
    </ion-content>
</ion-modal-view>
