<ion-modal-view>
    <ion-header-bar class="bar-stable  nav-bar-block nav-title-slide-ios7">
      <button class="button button-clear" ng-click="closePageModel()"><i class="icon ion-ios-arrow-left"></i></button>
      <h1 class="title">版本信息</h1>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-item type="item-text-wrap">
                <span>当前版本</span>
                <span class="item-note">v1.0</span>
            </ion-item>
            <ion-item type="item-text-wrap">
                <span>最新版本</span>
                <span class="item-note">V1.1</span>
            </ion-item>
            <ion-item type="item-text-wrap">
                <label class="item mt20 lr-listbutton">
                    <span>升级到最新版</span>
                </label>
            </ion-item>
            
        </ion-list>
        <button class="button button-clear">更新</button>
    </ion-content>
</ion-modal-view >
