<ion-modal-view>
    <ion-header-bar class="bar-stable nav-bar-block nav-title-slide-ios7">
        <div class="item-input-inset" style="width:100%;">
           
           

            <div class="row">
                
                <div class="col-60 lr-item-content">

                    <label class="item-input-wrapper">
                        <i class="icon ion-ios-search placeholder-icon"></i>
                        <input type="search" ng-model="searchBgConPanPositionData.keyword" placeholder="搜索">
                    </label>

                </div>
                <div class="col-30 lr-item-content">

                    <button class="button button-clear" ng-click="doBgConPanPositionSearch()">
                        搜索
                    </button>
                    <button class="button button-clear" ng-click="closeBgConPanPositionSearchModal()">
                        确认
                    </button>
                </div>

            </div>
        </div>
    </ion-header-bar>
    <ion-content>
      
        <div class="lr-searchTitle" ng-hide="searchBgConPanPositionData.records == 0 "><span>搜索结果 {{searchBgConPanPositionData.records}} 条</span></div>
        <div class="list  list-inset lr-list-type2" style="margin-top:0px;">
           

            <ion-radio ng-repeat="sample in searchBgConPanPositionData.BgConPanPositions" ng-click="setEditDataConPanPosition(sample)"
                       class="item-icon-right">

                <div class="row">
                    <div class="col-50 lr-item-content"><span>货位号：{{sample.dcpp_num}}</span> </div>
                    <div class="col-50 lr-item-content"><span>货位名：{{sample.dcpp_name}}</span> </div>
                </div>
                <div class="row">
                    <div class="col-50 lr-item-content"><span>助记符：{{sample.dcpp_symbol}}</span> </div>
                    <div class="col-50 lr-item-content"><span>所在地：{{sample.dcpp_positition}}</span> </div>
                </div>
                <div class="row">
                    <div class="col-50 lr-item-content"><span>状态：{{sample.dcpp_status}}</span> </div>
                    <div class="col-50 lr-item-content"> </div>

                </div>
              
            </ion-radio>
        </div>
    </ion-content>
</ion-modal-view>
